body{
    background-color: rgb(101, 110, 219);
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 2px solid brown; */

}

.inp-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    border: 2px solid pink;
    margin: 2px;
}

.inp-items{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    padding-left: 20px;
    /* border: 2px solid pink; */
    /* row-gap: 10px; */

}

.inp-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* border: 2px solid magenta; */
}

.inp-container{
    margin: 5px; 
    /* border: 2px solid green;    */
}

.img-wrapper{
    position: relative;
    /* border: 2px solid red; */
    /* width: 250px; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}


/* Apply the padding only when icon is there */
.inp.icon_left_p {
    padding-left: 30px;
}

.inp.icon_right_p{
    padding-right: 30px;
}

.icon_left{
    position: absolute;
    left: 2px;
    padding-top: 3px;
}

.icon_right{
    position: absolute;
    left: 200px;
    padding-top: 3px;
}

/* add sizing for the lg button with icon */

/* Basics */
.inp{
    width: 200px;
    height: 28px;
    /* border: none;
    outline: none; */
    border: 1px solid #828282;
    border-radius: 5px;

}

.inp:hover{
    border: 1px solid #333333;
}


.inp:focus {
    border: 0px solid green;
}


p{
    font-size: 12px;
    margin:2px;
    /* display: block; */
    /* position: absolute; */
    /* left: 2px; */
}

.section-head-text{
    font-size: 16px;
    font-weight: 600;
}

.error-text{
    color: red; 
}

.disabled{
    background-color: #51515174;
}

.error{
    border: 1px solid red;
}

.error:hover{
    border: 3px solid red;
}

/* Sizes */

.sm{
    height: 20px
}

.lg{
    height: 36px;
}

.fullwidth{
    /* background-color: yellow;  */
    width: 100% ;   
}


/* Colors */

.primary,.icon{
    background: #2962FF;
    color: white;
}

.primary:hover,.icon:hover{
    background: #0039CB;;
}

.primary::placeholder{
    color: white;
    opacity: 1;
}

.secondary{
    background: #455A64;
}

.secondary:hover{
    background: #1C313A;
}

.secondary::placeholder{
    color: white;
    opacity: 1;
}

.secondary:focus{
    color: white;
}

.success{
    background-color: green;
    color: white;
}

.success::placeholder{
    color: white;
    opacity: 1;
}

.success:hover{
    background-color: darkgreen
}

.danger{
    background: #D32F2F;
}

.danger:hover{
    background:  #9A0007;
}

.default{
    background: rgb(255, 255, 255);
}

.default:hover{
    background: rgb(255, 255, 255);

}   


/* @media screen and (max-width: 400px) {
    

    .inp-row{
        background-color: red;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 2px solid blue;
        margin: 2px;
    }  
} */

@media screen and (max-width: 745px) {
 
    .inp-items{
        /* background-color: red; */
        display: flex;  
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content:flex-start;
        align-items: flex-start;
        padding-left: 20px;
        /* border: 2px solid yellow; */
    }

    /* .inp-item{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        border: 2px solid blue;
    } */
    
  }
  
  