.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100%;

  border: 2px solid green;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

}

.app_container{
  background: white;
  border: 2px solid red;
  border-radius: 10px;
  width: 500px;
  height: 700px;
}

